# 第2章：UNIXコマンド

## 10.行数のカウント

行数をカウントせよ．確認にはwcコマンドを用いよ．

In [1]:
import pandas as pd
df_popular_name = pd.read_table("popular-names.txt", header=None)
print("行数は：{}".format(len(df_popular_name)))
df_popular_name

行数は：2780

              0  1      2     3
0          Mary  F   7065  1880
1          Anna  F   2604  1880
2          Emma  F   2003  1880
3     Elizabeth  F   1939  1880
4        Minnie  F   1746  1880
...         ... ..    ...   ...
2775   Benjamin  M  13381  2018
2776     Elijah  M  12886  2018
2777      Lucas  M  12585  2018
2778      Mason  M  12435  2018
2779      Logan  M  12352  2018

[2780 rows x 4 columns]

## 11.タブをスペースに置換

タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [2]:
file_popular_name = open('popular-names.txt', 'r')
data_popular_name = file_popular_name.read()
file_popular_name.close()
data_ans11 = data_popular_name.replace('\t', ' ')
file_ans11 = open('ans11.txt', 'w')
file_ans11.write(data_ans11)
file_ans11.close()

## 12.1列目をcol1.txtに，2列目をcol2.txtに保存

各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [3]:
df_popular_name[0].to_csv("./col1.txt", sep=' ', index=False, header=False)
df_popular_name[1].to_csv("./col2.txt", sep=' ', index=False, header=False)

## 13.col1.txtとcol2.txtをマージ

12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [15]:
df_1301 = pd.read_table("col1.txt", header=None)
df_1302 = pd.read_table("col2.txt", header=None)
#print(df_1301.head(2))
#print(df_1302.head(2))
df_ans13 = pd.concat([df_1301, df_1302], axis=1)
df_ans13.to_csv("./ans13.txt", sep='\t', index=False, header=False)

# 14. 先頭からN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [32]:
N = int(input())
#print(type(N))
f14 = open("./ans13.txt", "r")
d14 = f14.readlines()
f14.close()
#print(d14)
for i in range(N):
    print(d14[i], end="")

3
Mary	F
Anna	F
Emma	F

# 15. 末尾のN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [35]:
N=int(input())
f15 = open("./ans13.txt", "r")
d15 = f15.readlines()
f15.close()
if len(d15)-N < 0:
    print(str(N)+"行ない")
else:
    for i in range(len(d15)-N, len(d15)):
        print(d15[i], end="")

24
Mason	M
Elijah	M
Oliver	M
Jacob	M
Emma	F
Olivia	F
Ava	F
Isabella	F
Sophia	F
Charlotte	F
Mia	F
Amelia	F
Harper	F
Evelyn	F
Liam	M
Noah	M
William	M
James	M
Oliver	M
Benjamin	M
Elijah	M
Lucas	M
Mason	M
Logan	M

# 16. ファイルをN分割する

In [51]:
N = int(input())
f16 = open("./ans13.txt", "r")
d16 = f16.readlines()
f16.close()
ls = int(len(d16) / N) + 1
len_d16 = len(d16)
print(ls)
print(len_d16)
l_st = 0
for i in range(N):
    f=open("./ans16"+str(i), "w")
    if l_st + ls < len_d16:
        for j in range(l_st, l_st + ls):
            f.write(d16[j])
    else:
        for j in range(l_st, len_d16):
            f.write(d16[j])
    f.close()
    print(l_st, l_st+ls)
    l_st = l_st + ls

3
927
2780
0 927
927 1854
1854 2781

# q